<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        CHIMPAS магазин футболок CHIMPAS - это магазин прикольных футболок, маек и толстовкок.
Футболки CHIMPAS отличаются не только оригинальным дизайном, но и отличным качеством.
Все футболки изготавливаются из высококачественных материалов и имеют длительный срок службы.
В нашем магазине представлены футболки на все случаи жизни.
Вы можете выбрать футболку для повседневной носки, футболку для занятий спортом, футболку на каждый день, футболку-поло, футболки для девушек, подростков и детей.
    </div>
</body>
</html>
{% endblock content %}