{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

{% csrf_token %}

<style>
  .hidden{
	display: none!important;
}
.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}
.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;

}
.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}
.btn:hover {
	box-shadow: 0 2px 5px rgba(1, 1, 0, 1.45);
}

</style>

 <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Вернуться обратно</a>
     <a href="{% url 'cart:cart' %}" style="float:right; " class="btn btn-success">Оформить заказ</a>
     <th><h5>Товаров: <strong>{% with total_items=cart|length %} {{ total_items }} {% endwith %} </strong></h5></th>
			<th><h5>Стоимость: <strong> {{ cart.get_total_price }} Руб.</strong></h5></th>
    </div>
    <br> <br>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Товар</th>
        <th scope="col">Название
        </th><th scope="col">Цена за шт.</th>
        <th scope="col">Размер</th>
        <th scope="col">Количество</th>
        <th scope="col">Общая цена</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart %}
            {% with product=item.product %}
    <tr>

      <td><img height="100" width="100" class="row-image" src="{{ product.image.url }}" ></td>
        <td>{{ product.name }}</td>
        <td>{{ item.price }} Руб.</td>
        <td>
            {{ item.size }}
        </td>
        <td>
            <a href="{% url 'cart:cart_minus_product' product.id %}" class="btn">-</a>
            {{ item.quantity }}
            <a href="{% url 'cart:cart_plus_product' product.id %}" class="btn">+</a>
        </td>
        <td>{{ item.total_price }} Руб.</td>

  {% endwith %}
        {% endfor %}

  </tbody>
</table>



{% endblock content %}