{% extends 'base.html' %}
{% block content %}

<body>
<div class="d-flex ">
<div class="fon" >
    <div class="container" style="margin-left: 80px;">
        <h1>Контакты</h1><br>
        <h3>Есть вопрос? Задай его в нашем телеграме @chimpas</h3><br>
        <h5>Другие варианты связи с нами:</h5>
        <li><span>Телефон +791111111</span>
        <li><span>Почта chimpas@mail.ru</span>
        <li><span>Адрес магазина: г.Челябинск, ул.Ленина, д.23</span>
        <li><span>Время работы магазина: 10:00 - 21:00</span><br><br>

        <h5>Наши соц. сети:</h5>
        <li><span>Группа Вконтакте</span>
        <li><span>Инстаграм</span>
        <li><span>Телеграм</span>
        <li><span>Whats up</span>

    </li>
    </div>

</div>
<div style="margin-left: 80px; margin-top: 30px;">
    <div style="overflow:hidden;">
        <iframe src="https://yandex.ru/map-widget/v1/-/CCUnEIXVdD" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>

</div>




</div>
</body>
<br><br><br><br>
<br><br><br><br><br>
<br>

{% endblock content %}