{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

 {% block title %}Home{% endblock %}
    {% block content %}

    <!--<div class="container">
        skgldfhgljrso;hj;oruto;hrwghoru
        <img src="{% static '/images/img.png/' %}">
    </div>-->
<div class="container">
    <div class="container-fluid">
        <div class="row">

 {% for shirt in object_list %}
        <div class="col-md-4 mb-4 pb-4">
            <div class="card" style="width: 80%;">
              <img src="{{ shirt.image.url }}" class="card-img-top" alt="tilt" height="290px"
                   onclick="window.location.href = '{% url 'shirt_detail' shirt.pk %}'">
              <div class="card-body">
                <h5 class="card-title">{{shirt.name}}</h5>
                <p class="card-text">{{shirt.price}}₽</p>
                <a href="{% url 'shirt_detail' shirt.pk %}" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
        </div>
            {% endfor %}

    </div>
    </div>
</div>
{% endblock %}
</body>

</html>

